@using Microsoft.AspNet.Identity;
@model DeadManSwitch.UI.Models.ChangePasswordEditModel

<br />

<p>You are logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="container">
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
            <div class="">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPasswordConfirmation, new { @class = "control-label" })
            <div class="">
                @Html.PasswordFor(m => m.NewPasswordConfirmation, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="">
                <input type="submit" value="Change password" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Manage", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
